.app-options {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.option {
  height: 400px;
  width: 45%;
  border: 1px solid black;
  background: #89e284;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  display: inherit;
  text-decoration: none; }

.heading {
  font-family: "Montez", cursive;
  font-weight: 900;
  font-size: 4em; }
